.toolbar {
  padding: 1em .5em 0 .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  font-family: "display";
  font-size: 2em;
}

.select {
  border: none;
  padding: .25em;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: rgba(0,0,0,.15);
}
