.toolbar {
  padding: 0 0.5em 0 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
}

.time {
  font-family: 'display';
  font-size: 2em;
}

.select {
  border: none;
  padding: 0.25em;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: rgba(0, 0, 0, 0.15);
}
